section.Footer 
    .container.Footer-top 
        .Footer-top-content 
            h4.heading Try for free! 
            p Get limited 1 week free try our features!
        .Footer-top-buttons 
            .button.button-pink Learn more 
            .button.button-icon.button-white 
                a(href="#") 
                    span Request Demo 
                    i 
                        img(src="img/right-arrow-purple.svg" alt="") 
    .container.Footer-middle 
        .col.col-1
            .Footer-logo 
                a(href="/")
                    img(src="img/logo.svg" alt="") 
                h4 DataWarehouse
            .Footer-address
                address Warehouse Society, 234<br>Bahagia Ave Street PRBW 29281
                a(href="mailto:info@warehouse.project") info@warehouse.project
                a(href="tel:12323434") 1-232-3434 (Main)    
        .col.col-2
            .About 
                h3.Footer-bottom-h About 
                a(href="#") Profile
                a(href="#") Features 
                a(href="#") Careers
                a(href="#") DW News
        .col.col-3    
            .Help
                h3.Footer-bottom-h Help 
                a(href="#") Support
                a(href="#") Sign up
                a(href="#") Guide
                a(href="#") Reports
                a(href="#") Q&A
        .col.col-4 
            h3 Social Media
            .Footer-social
                a(href="#")
                    img(src="img/social/f.svg", alt="facebook")
                a(href="#")
                    img(src="img/social/t.svg", alt="twitter")
                a(href="#")
                    img(src="img/social/i.svg", alt="instagram")
    .container.Footer-bottom 
        .Footer-bottom-content 
            p   © Datawarehouse™, 2020. All rights reserved.
            p   Company Registration Number: 21479524.
        .Footer-bottom-icon 
            a(href="#")
                img(src="img/message.svg", alt="message icon") 




    