header.Header
    .container 
        a(href="/")
            img(class="Header-logo" src="img/logo.svg" alt="Logo") 
        button.hamburger
            .bar
        nav.Navigation 
            a.Navigation-item.active(href="#") About
            a.Navigation-item(href="#") Help
            a.Navigation-item(href="#") Features
            a.Navigation-item(href="#") Signup
            .button.button-icon.button-white 
                a(href="#") 
                    span Request Demo 
                    i 
                        img(src="img/right-arrow-purple.svg" alt="" aria-hidden="true") 