doctype html
html
    head
        meta(charset='utf-8')
        title Data Warehouse
        link(rel='shortcut icon' href='img/logo.svg' type='image/x-icon')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='css/main.css')
    body 
        include header

        main.Main
            block content

        script(src='js/jquery-3.6.0.min.js')
        script(src='js/flickity.pkgd.min.js') 
        script(src='js/main.js')