section.About 
    .container 
        img(src="img/pink-image.svg", alt="" aria-hidden="true")
        .About-content 
            h2.heading We are a high-level data storage bank
            p.About-text The place to store various data that you can access at any time through the internet  and where you can carry it. This very flexible storage area has a high level of security. To enter into your own data you must enter the password that you created when you registered in this Data Warehouse. 
