section.Hero 
    .container
        .Hero-content 
            h1.Hero-title Save your data storage here.
            p.Hero-text Data Warehouse is a data storage area that has been
                |tested for security, so you can store your data here
                |safely but not be afraid of being stolen by others.
            .button.button-purple Learn more
        .Hero-image
            img(src="img/image-hero.svg" alt="" aria-hidden="true")