section.Testimonials 
    .container 
        h2.heading Testimonials
        .Testimonials-slider 
            figure.Testimonials-item
                img.user-img(src='img/user-img/John-Fang.svg' alt='John Fang')
                blockquote.Testimonials-item-text
                    p
                    | Suspendisse ultrices at diam lectus nullam.
                    | Nisl, sagittis viverra enim erat tortor ultricies massa turpis.
                    | Arcu pulvinar aenean nam laoreet nulla.
                figcaption.user-info
                    p.user-name John Fang
                    p.user-title wordfaang.com
            figure.Testimonials-item
                img.user-img(src='img/user-img/Jeny-Doe.svg' alt='Jeny Doe')
                blockquote.Testimonials-item-text
                    p
                    | Suspendisse ultrices at diam lectus nullam.
                    | Nisl, sagittis viverra enim erat tortor ultricies massa turpis.
                    | Arcu pulvinar aenean nam laoreet nulla.
                figcaption.user-info
                    p.user-name Jeny Doe
                    p.user-title UX Engineer
            figure.Testimonials-item
                img.user-img(src='img/user-img/John-Fang.svg' alt='John Fang')
                blockquote.Testimonials-item-text
                    p
                    | Suspendisse ultrices at diam lectus nullam.
                    | Nisl, sagittis viverra enim erat tortor ultricies massa turpis.
                    | Arcu pulvinar aenean nam laoreet nulla.
                figcaption.user-info
                    p.user-name John Fang
                    p.user-title wordfaang.com
            figure.Testimonials-item
                img.user-img(src='img/user-img/Jeny-Doe.svg' alt='Jeny Doe')
                blockquote.Testimonials-item-text
                    p
                    | Suspendisse ultrices at diam lectus nullam.
                    | Nisl, sagittis viverra enim erat tortor ultricies massa turpis.
                    | Arcu pulvinar aenean nam laoreet nulla.
                figcaption.user-info
                    p.user-name Jeny Doe
                    p.user-title UX Engineer
            figure.Testimonials-item
                img.user-img(src='img/user-img/John-Fang.svg' alt='John Fang')
                blockquote.Testimonials-item-text
                    p
                    | Suspendisse ultrices at diam lectus nullam.
                    | Nisl, sagittis viverra enim erat tortor ultricies massa turpis.
                    | Arcu pulvinar aenean nam laoreet nulla.
                figcaption.user-info
                    p.user-name John Fang
                    p.user-title wordfaang.com
            figure.Testimonials-item
                img.user-img(src='img/user-img/Jeny-Doe.svg' alt='Jeny Doe')
                blockquote.Testimonials-item-text
                    p
                    | Suspendisse ultrices at diam lectus nullam.
                    | Nisl, sagittis viverra enim erat tortor ultricies massa turpis.
                    | Arcu pulvinar aenean nam laoreet nulla.
                figcaption.user-info
                    p.user-name Jeny Doe
                    p.user-title UX Engineer
            figure.Testimonials-item
                img.user-img(src='img/user-img/John-Fang.svg' alt='John Fang')
                blockquote.Testimonials-item-text
                    p
                    | Suspendisse ultrices at diam lectus nullam.
                    | Nisl, sagittis viverra enim erat tortor ultricies massa turpis.
                    | Arcu pulvinar aenean nam laoreet nulla.
                figcaption.user-info
                    p.user-name John Fang
                    p.user-title wordfaang.com
            figure.Testimonials-item
                img.user-img(src='img/user-img/Jeny-Doe.svg' alt='Jeny Doe')
                blockquote.Testimonials-item-text
                    p
                    | Suspendisse ultrices at diam lectus nullam.
                    | Nisl, sagittis viverra enim erat tortor ultricies massa turpis.
                    | Arcu pulvinar aenean nam laoreet nulla.
                figcaption.user-info
                    p.user-name Jeny Doe
                    p.user-title UX Engineer